#navbar ul li a{
  padding-left: 7px ;
  padding-right: 7px;
}

.navbar-fixed-top {
  transition-property: top !important;
  transition-duration: 0.3s !important;
  -webkit-transition-property: top !important; /* Safari */
  -webkit-transition-duration: 0.3s !important; /* Safari */
opacity: 0.005;
  }

.nav-up {
  top: -52px;
}
